h1 {
  text-align: center;
}

body {
  background-image: url('images/Plasticine.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  font-family: 'Indie Flower', cursive;
}

.card {
  background-image: url('images/black-ghost-back.png');
  background-repeat: no-repeat;
  background-size: 200px;
  text-align: center;
  height: 200px;
  width: 200px;
}

#timer_box {
  width: 200px;
  height: 200px;
  text-align: center;
}

#score {
  text-align: center;
  margin-top: -25px;
}

#cards_container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  width: 50px;
  margin-left: 178px;
}

#informer {
  text-align: center;
  color: #f24741;
}

#guess_counter {
  margin-top: -25px;
}
