h1 {
  text-align: center;
}

body {
  background-image: url(images/white_yellow.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.cards {
  background-image: url(images/white_back.ong.png);
  background-repeat: no-repeat;
  background-size: 200px;
  text-align: center;
  height: 200px;
  width: 200px;
}

#timer_box {
  width: 200px;
  height: 200px;
  text-align: center;
}

h2 {
  text-align: center;
}

#cards_container {
  margin-left: 400px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  width: 50px;
}
